:root {
    /* COLORS */
   --clr-primary-dark:hsl(158, 36%, 21%);
   --clr-primary:hsl(158, 36%, 37%);
   --clr-secondary:hsl(30, 38%, 92%);

   --clr-neutral-very-dark:hsl(212, 21%, 14%);
   --clr-neutral-dark:hsl(228, 12%, 48%);
   --clr-neutral-white: hsl(0, 0%, 100%);

   /* Typography */
   --ff-base:"Montserrat", sans-serif;
   --ff-accent:"Fraunces", serif;

   --fw-500: 500;
   --fw-700:700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  body {
    font-family: var(--ff-base);
    font-weight: var(--fw-500);
    color: var(--clr-neutral-dark);
    font-size: 0.875rem;
    background-color: var(--clr-secondary);

    /* Grid */
    display: grid;
    place-content: center;
    margin: 1rem;
  }

  /* Product Price */
  .product__price {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }

  .visually-hidden:not(:focus):not(:active) {
    clip:rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  /* Button */
  .btn_cart {
    cursor: pointer;
    display: inline-flex;
    gap: .7rem;
    justify-content: center;
    align-items: center;

    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: var(--clr-primary);
    color: var(--clr-neutral-white);
    font-weight: var(--fw-500);
    font-size: 1rem; 
  }

  .btn_cart[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
  }

  .btn_cart:is(:hover, :focus) {
    background-color: var(--clr-primary-dark);
  }


  /* Product Design */
  .product {

    --content-padding: 1.5rem;
    --content-spacing: 1rem;
    
    
    display: grid;
    background-color: var(--clr-neutral-white);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;
  }

  .product__content {
    padding: var(--content-padding);
    display: grid;
    grid-gap: var(--content-spacing);
  }

  @media(min-width: 600px) {
    body {
      width: auto;
      height: 100vh;
    }
    .product {
      --content-padding: 2rem;
     grid-template-columns: 1fr 1fr;
    }
  }

  .product__type {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: .8rem;
  }

  .product__title {
    font-size: 1.8rem;
    font-family: var(--ff-accent);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-very-dark);
    line-height: 1.8rem;
  }

  .product__new-price {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-primary);
    font-weight: var(--fw-700);
  }

  